@import 'vars.css';

body {
  margin: 0;
  background-image: url('../assets/HTML & CSS/General Images & Icons/background.svg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  animation: animatedBackground 30s linear infinite;
}

header img {
  margin-left: 30px;
  height: 90px;
}

/* City Dropdown */
.select-city {
  -webkit-appearance: dropdown;
  margin-left: 20px;
  background-color: transparent;
  border-color:gray;
  width: 200px;
  height: 30px;
  z-index: -1;

  font-size: large;
  color: black;
  font-weight: bolder;
}

.date-time {
  margin-left: 150px;
  margin-top: 15px;
}
.date-time span {
  font-size: small;
}
.date-time img {
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}
.timeline-icon {
  height: 15px;
  margin-left: -4px;
  animation: humidity_animation 6s linear 0s infinite;
}

.time {
  font-size: 30px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #fff461;
  margin-left: -5px;
}

.date {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #fff461;
  margin-top: -35px;
  margin-left: -5px;
}

/*Top section flex*/

.container {
  display: flex;
  flex-wrap: wrap;
}
.line {
  height: 75px;
  border-right: 1px solid;
  margin-left: 8px;
}
.right_line {
  height: 20px;
  border-right: 1px solid white;
}
.item-1{
  
  margin-top:-17px;
}
.item-1 > img {
  margin-top: 20px;
  z-index: -1;
}

.date-time > img {
  margin-left: 150px;
  margin-top: -83px;
  margin-bottom: 48px;
}

.item-2 {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-white);
  margin-top: 15px;
  height: 100px;

  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.item-3 {
  /*margin-left:50px;*/
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  color: var(--primary-white);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.item-3 > img {
  height: 15px;
  width: 15px;
}
/*middle section navigation bar*/

.navbar {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  box-sizing: border-box;
}

.nav-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
}

.navbar_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 20px;
  position: sticky;
  margin-right: 24px;
  margin-top: -48px;
  align-items: center;
  box-sizing: border-box;
}
.navbar-item {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--primary-white);
  background-color: transparent;
  border: transparent;
}
.navbar-item:hover {
  cursor: pointer;
}

.navbar_title {
  text-align: center;
  color: var(--primary-white);
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  z-index: -1;
  padding: 30px;
}
.city_weathers {
  background-color: #101010;
  margin-top: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
}
.cities_count {
  margin-left: 5px;
  width: 35px;
  background-color: #101010;
  color: white;
  outline: none;
}
.active {
  border-bottom: 5px solid dodgerblue;
}
.slider {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.left-arrow,
.right-arrow {
  margin: 10px;
  padding: 10px 10px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.left-arrow-div,
.right-arrow-div {
  background-color: transparent;
  border: transparent;
}

.card_container {
  display: flex;
  column-gap: 25px;
  padding: 25px;
  width: calc(100% - 60px);
  overflow-x: scroll;
}
.card_container::-webkit-scrollbar {
  display: none;
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.card {
  background-image: url('../assets/HTML & CSS/Icons for cities/london.svg');
  background-position: bottom right;
  background-size: 3cm;
  background-repeat: no-repeat;
  background-color: #202020;
  box-shadow: 5px 5px black;
  min-width: 200px;

  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: large;
  margin-bottom: 30px;
  padding: 20px;
  color: var(--primary-white);

  border-radius: 5px;
}
.card > img {
  margin-top: -90px;
  margin-left: 60px;
  width: 80px;
}
.card-title > p > img {
  animation: rotate-animation 5s linear 0s infinite;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 7px 7px black;
}
/* Bottom Section -- Sorting of continent name and temperature */
.cities_continent {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  background-color: #101010;
  position: sticky;

  text-align: center;
  align-items: center;
  justify-content: baseline;
  box-sizing: border-box;
  padding: 35px;
}
.cont_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  column-gap: 100px;
}
.cont_title {
  color: var(--primary-white);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: large;
}
.city_item {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-white);
  text-align: center;
  font-weight: bold;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  
}

.continent,
.temperature {
  font-size: 20px;
  font-weight: 200;
  margin: 13px;
  background-color: transparent;
  border: transparent;
  color: white;
  cursor: pointer;
}
.cont_icon {
  height: 15px;
}
.flex_container {
  display: flex;
  flex-wrap: wrap;
  background-color: #101010;
  justify-content: space-evenly;
  margin-right: 20px;
}
.card_cont {
  background-color: #202020;
  box-shadow: 5px 5px black;
  width: 250px;
  height: 50px;
  margin-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  margin-bottom: 30px;
  padding: 20px;
  color: var(--primary-white);
}
.card_cont > div {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.cont_temperature {
  font-size: x-large;
  font-weight: 500;
}

.cont-humidity img {
  height: 1em;
  animation: humidity_animation 20s linear 0s infinite;
}
.cont_city_title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 17px;
  margin-top: -8px;
}
.cont_name {
  color: #fff461;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.cont_content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}

/* Responsive Web Design*/

/* For mobile phones: */
[class*='col-'] {
  width: 100%;
}

@media only screen and (min-width: 400px) and (max-width: 780px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
    margin-left: -66px;
    margin-right: 66px;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .navbar_container {
    justify-content: center;
    margin-top: 5px;
  }
  .city_item {
    justify-content: center;
    column-width: 20px;
  }
  .select-city {
    margin-left: 130px;
  }
  header img {
    margin-left: 190px;
  }
  .item-2 {
    margin-left: -66px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
    margin-top: 15px;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .city_item {
    justify-content: flex-end;
    column-width: 20px;
    margin-right: 35px;
  }
  .cont_header {
    margin-left: 40px;
    column-gap: 80px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .cont_title {
    width: 600px;
  }
  .navbar_container {
    margin-right: 35px;
    margin-top: -90px;
  }
}

@keyframes humidity_animation {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
